CONTENTSTACK_API_KEY = <api_key_of_your_stack>
CONTENTSTACK_DELIVERY_TOKEN = <delivery_token_of_the_environment>
CONTENTSTACK_ENVIRONMENT = <environment_name>
# By default branch=main, if a branch is not provided
# CONTENTSTACK_BRANCH = <your_branch_name>
# By default region=us, if a region is not provided
# CONTENTSTACK_REGION = <your_region_name>


CONTENTSTACK_PREVIEW_TOKEN = <preview_token_linked_with_delivery_token>
CONTENTSTACK_PREVIEW_HOST = rest-preview.contentstack.com
CONTENTSTACK_APP_HOST = app.contentstack.com
CONTENTSTACK_API_HOST = api.contentstack.io
CONTENTSTACK_LIVE_PREVIEW = true
#By default the live preview feature is enabled for this project. To disable it, set "CONTENTSTACK_LIVE_PREVIEW= false".
CONTENTSTACK_LIVE_EDIT_TAGS = false
#By default live editing tags are disabled for this project. To enable it, set “CONTENTSTACK_LIVE_EDIT_TAGS= true”.
